*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: rgb(68, 63, 63);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
 
    
}
.logo-size{
    width: 120px;
}
.nav{
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 18px;
    padding-left: 7px;
    
}
.menu-margin{
    margin-left: 10px;
    
}
.section-img{
    width: 300px;
}
.section-cointainer{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(/images/background.png) , linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53) );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.sectiontext{
    color:white;
    padding: 10px;
}

.titlesize{
    font-size: 55px;
    font-weight: bold;

}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px;
    background-color: red;
    border: none;
    color:white;
}

.abouttitle{
    text-align: center;
    font-size: 55px;
    padding-top:20px;
    margin-top: 15px;
}
.aboutimg{
    margin-top: 40px;

}
.aboutcontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 20px;
}
.boxcontainer{
    background-image: url(/images/background.png) , linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53) );
    
}
.servicetitle{
    font-size: 50px;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 10px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.boxcommon{
    background-color: black;
    margin-left: 20px;
    padding: 30px;
    width: 200px;
    height: 290px;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
}

.boxicon{
    width: 80px;
    padding: 10px;
}
.descriptionservice{
    padding: 7px;
}

.btn2{
    background-color: rgb(53, 51, 49);
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    width: 90px;

}
